<launch>
  <!-- Start each camera using ROS Spinnaker drivers /> -->
  <remap from="/camera/image_raw" to="/camera1/image_raw" />
  <include file="$(find spinnaker_camera_driver)/launch/camera23156987.launch" /> <!-- The number after "camera" corresponds to the inital serial number that will be connected-->

  <remap from="/camera/image_raw" to="/camera2/image_raw" />
  <include file="$(find spinnaker_camera_driver)/launch/camera23141921.launch" />

  <remap from="/camera/image_raw" to="/camera3/image_raw" />
  <include file="$(find spinnaker_camera_driver)/launch/camera23141922.launch" />


  <!--  Use ROS remapping to create unique topic names for each camera -->
  <remap from="/position" to="/position1" />
  <remap from="/camera/image_raw" to="/camera1/image_raw" />
  <!-- Launch the aruco node that detects and publishes the position of the aruo marker /> -->
  <node
    pkg="soft_robot_cv"
    type="aruco"
    name="aruco1"
    output="screen"
  /> 

  <remap from="/position" to="/position2" />
  <remap from="/camera/image_raw" to="/camera2/image_raw" />
  <node
    pkg="soft_robot_cv"
    type="aruco"
    name="aruco2"
    output="screen"
  /> 

  <remap from="/position" to="/position3" />
  <remap from="/camera/image_raw" to="/camera3/image_raw" />
  <node
    pkg="soft_robot_cv"
    type="aruco"
    name="aruco3"
    output="screen"
  /> 
  
</launch> 