<launch>
  <include file="$(find spinnaker_camera_driver)/launch/camera.launch" />
  <!-- <include file="$(find soft_robot_cv)/src/Spinnaker2CVmat.cpp" /> -->

  <!-- <node
    pkg="soft_robot_cv"
    type="webcam_pub"
    name="webcam_pub"
    output="screen"
  /> -->
  <!-- <node
    pkg="soft_robot_cv"
    type="webcam_sub"
    name="webcam_sub"
    output="screen"
  /> -->
  <!-- <node
    pkg="soft_robot_cv"
    type="opencv_sub"
    name="opencv_sub"
    output="screen"
  />  -->
 <!-- <node
    pkg="soft_robot_cv"
    type="webcam_circles"
    name="webcam_circles"
    output="screen"
  /> -->
  <!-- <node
    pkg="soft_robot_cv"
    type="mosse_class"
    name="mosse_class"
    output="screen"
  />  -->
  <!-- <node
    pkg="soft_robot_cv"
    type="aruco"
    name="aruco"
    output="screen"
  />  -->
   <!-- <node
    pkg="soft_robot_cv"
    type="video_cap"
    name="video_cap"
    output="screen"
  />   -->
  <node
    pkg="spinnaker_camera_driver"
    type="Acquisition"
    name="Acquisition"
    output="screen"
  /> 
  
</launch> 