<launch>
  <include file="$(find spinnaker_camera_driver)/launch/camera.launch" />
  <!-- <node
    pkg="soft_robot_cv"
    type="webcam_pub"
    name="webcam_pub"
    output="screen"
  /> -->
  <!-- <node
    pkg="soft_robot_cv"
    type="webcam_sub"
    name="webcam_sub"
    output="screen"
  /> -->
  <!-- <node
    pkg="soft_robot_cv"
    type="opencv_sub"
    name="opencv_sub"
    output="screen"
  />  -->
 <!-- <node
    pkg="soft_robot_cv"
    type="webcam_circles"
    name="webcam_circles"
    output="screen"
  /> -->
  <node
    pkg="soft_robot_cv"
    type="mosse_class"
    name="mosse_class"
    output="screen"
  /> 
  
</launch> 